resources/SrvPoliza.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SrvPoliza" targetNamespace="http://www.example.org/SrvPoliza/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/SrvPoliza/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SrvPoliza/">

			<xsd:complexType name="Poliza">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="orden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="estado" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="poliza" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tomador" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="asegurado" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="beneficiario" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="cliente" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="agente" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="comision" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="participacion" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipcer" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecini" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecter" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecexp" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecori" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecren" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="dias" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="hordes" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="horhas" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="moneda" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucrea" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucmod" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecrea" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecmod" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="vaseg" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="vprima" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="vbase" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="cambio" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipcoa" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="coaseg" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="coalider" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="antcodpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="antcertif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="antorden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecout" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="cotizacion" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codcia" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="forpag" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipflo" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="clasifrea" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="cumulo" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="diafact" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="valgastos" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="porgastos" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="planorden" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="pordescuento" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="porrecargo" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipocarga" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="motivocan" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="pollider" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="cerlider" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ordengrupo" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="plaza" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="amarreplan" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="amarrecertif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="amarreorden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="amarrepoliza" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecterplan" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipfac" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="valiva" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="nivel" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="rol" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="cesioncomision" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="certifcausacion" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="pordescesion" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecimpuestos" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="impresa" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="ubicacion" type="xsd:string">
					</xsd:element>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="cobertura" nillable="true" type="tns:Cobertura">
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="tercero" nillable="true" type="tns:Tercero">
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="detalle" nillable="true" type="tns:Detalle">
						</xsd:element>

					</xsd:sequence>
					<xsd:sequence>
						<xsd:element minOccurs="1" name="cuentaCorriente" nillable="true" type="tns:CuentaCorriente">
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="polizaEmite" nillable="true" type="tns:Poliza">
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="reaseguro" nillable="true" type="tns:Reaseguro">
							</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Tercero">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="orden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="inciso" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="vinculacion" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="codVinculacion" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="principal" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codigo" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="participacion" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="comision" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="categoria" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="codcla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="parentesco" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="nombre" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="sexo" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipoPersona" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fechaNacimiento" type="xsd:date">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Cobertura">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="orden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="inciso" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="codcla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="estado" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="estant" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasa" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="vaseg" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="prima" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="comisi" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="cumcat" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="deduca" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="deducm" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="deducp" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="monded" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="monval" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipo" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="prirev" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="pricau" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="vasant" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasant" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="priant" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="impuesto" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="codram" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecini" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecfin" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="vasegpol" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="carencia" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasariesgo" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasaperiodo" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasaproteccion" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="gruporea" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="monprima" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="primapoliza" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="primareas" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="pricaureas" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="prirevreas" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="coapactado" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="pordedvalor" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="tasareas" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="copago" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="moncopago" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="consumo" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="dedmax" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="indvariable" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="descuentos" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="recargos" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="numpag" type="xsd:int">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Detalle">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="orden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="inciso" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="coddet" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="valdate" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="valnumber" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="valstring" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CuentaCorriente">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="person" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="origen" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="nrocta" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecdoc" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecven" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="feccam" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="feccon" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="estado" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codtra" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="oriant" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipant" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numant" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ctaant" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="oripos" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tippos" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numpos" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ctapos" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="oriref" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipref" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numref" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ctaref" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="moneda" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tascam" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="totdoc" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="totrec" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="ramo" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="poliza" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="cencos" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="agente" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="preimp" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="flag01" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="flag02" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="flag03" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="flag04" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucrea" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucmod" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecrea" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecmod" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipval" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="codcia" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipcoa" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="coaseg" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="comisi" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="plaza" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="cruce" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="cencos2" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="ccos2" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucurtraslado" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="impmod" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="orden" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="oritraslado" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tiptraslado" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numtraslado" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ctatraslado" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="valdet1" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="valdet2" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="ubicacion" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numalterno" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fechaimpresion" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fechapago" type="xsd:date">
					</xsd:element>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" name="cuentaCorrienteDetalle" nillable="true" type="tns:CuentaCorrienteDetalle">
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="CuentaCorrienteDetalle">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="person" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="origen" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="numdoc" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="nrocta" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tipval" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="totdoc" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="totrec" type="xsd:float">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucrea" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="sucmod" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecrea" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecmod" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="codcia" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="crearCotizacion">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="comp" type="xsd:string">
						</xsd:element>
						<xsd:element minOccurs="0" name="sucur" type="xsd:string">
						</xsd:element>

						<xsd:element minOccurs="0" name="fecini" type="xsd:date">
						</xsd:element>
						<xsd:element minOccurs="0" name="fecter" type="xsd:date">
						</xsd:element>
						<xsd:element minOccurs="0" name="comision" type="xsd:float">
						</xsd:element>
						<xsd:element minOccurs="0" name="vaseg" type="xsd:float">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="producto" type="tns:Producto">
						</xsd:element>
						<xsd:element minOccurs="0" name="parametroCotizacion" type="tns:ParametroCotizacion">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="tercero" type="tns:Tercero">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="detalle" type="tns:Detalle">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="crearCotizacionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="poliza" nillable="true" type="tns:Poliza"/>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validarCotizacion">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="certif" type="xsd:string">
						</xsd:element>
						<xsd:element name="sucur" type="xsd:string">
						</xsd:element>

						<xsd:element name="codpla" type="xsd:string">
						</xsd:element>
						<xsd:element name="orden" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validarCotizacionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
						</xsd:element>
						<xsd:element name="poliza" nillable="true" type="tns:Poliza">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="actualizarCotizacion">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="sucur" type="xsd:string">
						</xsd:element>
						<xsd:element name="codpla" type="xsd:string">
						</xsd:element>
						<xsd:element name="certif" type="xsd:string">
						</xsd:element>
						<xsd:element name="orden" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="detalle" type="tns:Detalle">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="actualizarCotizacionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
						</xsd:element>
						<xsd:element name="poliza" nillable="true" type="tns:Poliza">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="emitirPoliza">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cotizacion" type="xsd:string">
						</xsd:element>
						<xsd:element name="sucur" type="xsd:string">
						</xsd:element>

						<xsd:element name="codpla" type="xsd:string">
						</xsd:element>
						<xsd:element name="orden" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="emitirPolizaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
						</xsd:element>
						<xsd:element name="poliza" nillable="true" type="tns:Poliza">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="codError" type="xsd:string"/>
					<xsd:element name="descError" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ContextoRespuesta">
				<xsd:sequence>
					<xsd:element name="codigoTx" type="xsd:string">
					</xsd:element>
					<xsd:element name="fechaTx" type="xsd:dateTime"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="errores" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>



			<xsd:complexType name="ParametroCotizacion">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="usuario" type="xsd:string"/>
					<xsd:element minOccurs="0" name="tipoObjeto" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="Reaseguro">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="sucur" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="certif" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="codpla" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" name="tomador" type="xsd:int">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecini" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="fecter" type="xsd:date">
					</xsd:element>
					<xsd:element minOccurs="0" name="comision" type="xsd:float">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>



			<xsd:complexType name="ResultadoPoliza">
				<xsd:sequence>
					<xsd:element name="sucur" type="xsd:string"/>
					<xsd:element name="poliza" type="xsd:string"/>
					<xsd:element name="certif" type="xsd:string"/>
					<xsd:element name="estado" type="xsd:int"/>
					<xsd:element name="fecini" type="xsd:date"/>
					<xsd:element name="fecter" type="xsd:date"/>
					<xsd:element name="codpla" type="xsd:string"/>

				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="buscarPolizas">
            	<xsd:complexType>
            		<xsd:sequence>



            			<xsd:element name="asegurado" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="sucur" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="poliza" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="certif" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="codpla" type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarPolizasResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta"/>
            			<xsd:element maxOccurs="unbounded" minOccurs="0" name="resultadoPoliza" nillable="true" type="tns:ResultadoPoliza">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarPoliza">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="sucur" type="xsd:string"/>

            			<xsd:element name="codpla" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="certif" type="xsd:string">
            			</xsd:element>

            			<xsd:element name="orden" type="xsd:int">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="consultarPolizaResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta"/>
            			<xsd:element name="poliza" nillable="true" type="tns:Poliza">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="anularCertificado">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="sucur" type="xsd:string"/>
            			<xsd:element name="poliza" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="certif" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="codpla" type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="anularCertificadoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
            			</xsd:element>
            			<xsd:element name="anulado" type="xsd:boolean">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>


            <xsd:element name="cancelarCertificado">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="sucur" type="xsd:string"/>
            			<xsd:element name="poliza" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="certif" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="codpla" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="fechaCancelacion" type="xsd:date">
            			</xsd:element>
            			<xsd:element name="causa" type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelarCertificadoResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="contextoRespuesta" type="tns:ContextoRespuesta">
            			</xsd:element>
            			<xsd:element name="cancelado" type="xsd:boolean">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		
		
            <xsd:complexType name="Producto">
            	<xsd:sequence>
            		<xsd:element name="codpla" type="xsd:string"/>
            		<xsd:element name="nemotec" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="emitirPolizaResponse">
    <wsdl:part name="parameters" element="tns:emitirPolizaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarCotizacionResponse">
    <wsdl:part name="parameters" element="tns:actualizarCotizacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarCertificadoRequest">
    <wsdl:part name="parameters" element="tns:cancelarCertificado">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarCotizacionRequest">
    <wsdl:part name="parameters" element="tns:validarCotizacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarCotizacionResponse">
    <wsdl:part name="parameters" element="tns:validarCotizacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarPolizasRequest">
    <wsdl:part name="parameters" element="tns:buscarPolizas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPolizaRequest">
    <wsdl:part name="parameters" element="tns:consultarPoliza">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarCertificadoResponse">
    <wsdl:part name="parameters" element="tns:cancelarCertificadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarPolizaResponse">
    <wsdl:part name="parameters" element="tns:consultarPolizaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarPolizasResponse">
    <wsdl:part name="parameters" element="tns:buscarPolizasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="emitirPolizaRequest">
    <wsdl:part name="parameters" element="tns:emitirPoliza">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anularCertificadoRequest">
    <wsdl:part name="parameters" element="tns:anularCertificado">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearCotizacionRequest">
    <wsdl:part name="parameters" element="tns:crearCotizacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearCotizacionResponse">
    <wsdl:part name="parameters" element="tns:crearCotizacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarCotizacionRequest">
    <wsdl:part name="parameters" element="tns:actualizarCotizacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="anularCertificadoResponse">
    <wsdl:part name="parameters" element="tns:anularCertificadoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvPoliza">
    <wsdl:operation name="crearCotizacion">
      <wsdl:input message="tns:crearCotizacionRequest">
    </wsdl:input>
      <wsdl:output message="tns:crearCotizacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCotizacion">
      <wsdl:input message="tns:validarCotizacionRequest">
    </wsdl:input>
      <wsdl:output message="tns:validarCotizacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCotizacion">
      <wsdl:input message="tns:actualizarCotizacionRequest">
    </wsdl:input>
      <wsdl:output message="tns:actualizarCotizacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="emitirPoliza">
      <wsdl:input message="tns:emitirPolizaRequest">
    </wsdl:input>
      <wsdl:output message="tns:emitirPolizaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPolizas">
      <wsdl:input message="tns:buscarPolizasRequest">
    </wsdl:input>
      <wsdl:output message="tns:buscarPolizasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPoliza">
      <wsdl:input message="tns:consultarPolizaRequest">
    </wsdl:input>
      <wsdl:output message="tns:consultarPolizaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anularCertificado">
      <wsdl:input message="tns:anularCertificadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:anularCertificadoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarCertificado">
      <wsdl:input message="tns:cancelarCertificadoRequest">
    </wsdl:input>
      <wsdl:output message="tns:cancelarCertificadoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvPolizaSOAP" type="tns:SrvPoliza">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearCotizacion">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/crearCotizacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCotizacion">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/validarCotizacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCotizacion">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/actualizarCotizacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="emitirPoliza">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/emitirPoliza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPolizas">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/buscarPolizas"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPoliza">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/consultarPoliza"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anularCertificado">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/anularCertificado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarCertificado">
      <soap:operation soapAction="http://www.example.org/SrvPoliza/cancelarCertificado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvPoliza">
    <wsdl:port name="SrvPolizaSOAP" binding="tns:SrvPolizaSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
